# Pandas: grouping

In [3]:
import pandas as pd
import numpy as np

In [4]:
cars = pd.read_csv("/Users/juanandresgiussani/Documents/GitHub/IH_DA_FT_MAR_2023/Class_Materials/Pandas/data/vehicles.csv")

In [5]:
cars.head(10)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
5,Acura,2.2CL/3.0CL,1997,2.2,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,26,22,403.954545,1500
6,Acura,2.2CL/3.0CL,1997,2.2,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,22,28,24,370.291667,1400
7,Acura,2.2CL/3.0CL,1997,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,18,26,20,444.350000,1650
8,Acura,2.3CL/3.0CL,1998,2.3,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,19,27,22,403.954545,1500
9,Acura,2.3CL/3.0CL,1998,2.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400

How many Car models?

In [6]:
#3608 should be the answer


set_of_cars = set(cars['Model'].unique())
len(set_of_cars)

##would not work:
# cars['Model'].unique() 
# sum(cars.groupcby("Model").groups)

3608

In [7]:
# This also works
cars['Model'].nunique()

3608

group by the data by the Make  using count function

In [8]:
cars.groupby(["Make", "Model"]).count()

                                      Year  Engine Displacement  Cylinders  \
Make             Model
AM General       DJ Po Vehicle 2WD       1                    1          1
                 FJ8c Post Office        1                    1          1
                 Post Office DJ5 2WD     1                    1          1
                 Post Office DJ8 2WD     1                    1          1
ASC Incorporated GNX                     1                    1          1
...                                    ...                  ...        ...
Yugo             GV/GVX                  3                    3          3
                 Gy/yugo GVX             1                    1          1
smart            fortwo cabriolet        8                    8          8
                 fortwo convertible      2                    2          2
                 fortwo coupe           10                   10         10

                                      Transmission  Drivetrain  Vehicle Class  \
Make             Model
AM General       DJ Po Vehicle 2WD               1           1              1
                 FJ8c Post Office                1           1              1
                 Post Office DJ5 2WD             1           1              1
                 Post Office DJ8 2WD             1           1              1
ASC Incorporated GNX                             1           1              1
...                                            ...         ...            ...
Yugo             GV/GVX                          3           3              3
                 Gy/yugo GVX                     1           1              1
smart            fortwo cabriolet                8           8              8
                 fortwo convertible              2           2              2
                 fortwo coupe                   10          10             10

                                      Fuel Type  Fuel Barrels/Year  City MPG  \
Make             Model
AM General       DJ Po Vehicle 2WD            1                  1         1
                 FJ8c Post Office             1                  1         1
                 Post Office DJ5 2WD          1                  1         1
                 Post Office DJ8 2WD          1                  1         1
ASC Incorporated GNX                          1                  1         1
...                                         ...                ...       ...
Yugo             GV/GVX                       3                  3         3
                 Gy/yugo GVX                  1                  1         1
smart            fortwo cabriolet             8                  8         8
                 fortwo convertible           2                  2         2
                 fortwo coupe                10                 10        10

                                      Highway MPG  Combined MPG  \
Make             Model
AM General       DJ Po Vehicle 2WD              1             1
                 FJ8c Post Office               1             1
                 Post Office DJ5 2WD            1             1
                 Post Office DJ8 2WD            1             1
ASC Incorporated GNX                            1             1
...                                           ...           ...
Yugo             GV/GVX                         3             3
                 Gy/yugo GVX                    1             1
smart            fortwo cabriolet               8             8
                 fortwo convertible             2             2
                 fortwo coupe                  10            10

                                      CO2 Emission Grams/Mile  Fuel Cost/Year
Make             Model
AM General       DJ Po Vehicle 2WD                          1               1
                 FJ8c Post Office                           1               1
                 Post Office DJ5 2WD                        1               1
                 Post Office DJ8 2WD                        1               1
ASC Incorporated GNX                                        1               1
...                                                       ...             ...
Yugo             GV/GVX                                     3               3
                 Gy/yugo GVX                                1               1
smart            fortwo cabriolet                           8               8
                 fortwo convertible                         2               2
                 fortwo coupe                              10              10

[3676 rows x 13 columns]

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Converting Gallons to Liters

1 Gallon = 3.78541 Liters

What brand has the most cars?

In [35]:
cars["Make"].mode()
# Chevrolet is the most common value seen in the column 'Make'

0    Chevrolet
Name: Make, dtype: object

<b>show the average CO2_Emission_Grams/Km  by Brand

In [19]:
cars['CO2 Emission Grams/Km'] = cars['CO2 Emission Grams/Mile']*1.60934

In [20]:
cars.groupby(['Make','CO2 Emission Grams/Mile']).mean()

                                            Year  Engine Displacement  \
Make             CO2 Emission Grams/Mile
AM General       522.764706               1984.0                  2.5
                 555.437500               1985.0                  2.5
                 683.615385               1984.5                  4.2
ASC Incorporated 555.437500               1987.0                  3.8
Acura            228.000000               2013.5                  1.5
...                                          ...                  ...
smart            246.000000               2016.0                  0.9
                 246.861111               2010.0                  1.0
                 251.000000               2017.0                  0.9
                 255.000000               2016.0                  0.9
                 258.000000               2017.0                  0.9

                                          Cylinders  Fuel Barrels/Year  \
Make             CO2 Emission Grams/Mile
AM General       522.764706                     4.0          19.388824
                 555.437500                     4.0          20.600625
                 683.615385                     6.0          25.354615
ASC Incorporated 555.437500                     6.0          20.600625
Acura            228.000000                     4.0           8.673947
...                                             ...                ...
smart            246.000000                     3.0           9.155833
                 246.861111                     3.0           9.155833
                 251.000000                     3.0           9.417429
                 255.000000                     3.0           9.417429
                 258.000000                     3.0           9.694412

                                          City MPG  Highway MPG  Combined MPG  \
Make             CO2 Emission Grams/Mile
AM General       522.764706                   18.0         17.0          17.0
                 555.437500                   16.0         17.0          16.0
                 683.615385                   13.0         13.0          13.0
ASC Incorporated 555.437500                   14.0         21.0          16.0
Acura            228.000000                   39.0         38.0          38.0
...                                            ...          ...           ...
smart            246.000000                   34.0         39.0          36.0
                 246.861111                   33.2         40.4          36.0
                 251.000000                   33.0         38.0          35.0
                 255.000000                   32.0         39.0          35.0
                 258.000000                   31.0         38.0          34.0

                                          Fuel Cost/Year  \
Make             CO2 Emission Grams/Mile
AM General       522.764706                       1950.0
                 555.437500                       2100.0
                 683.615385                       2550.0
ASC Incorporated 555.437500                       2550.0
Acura            228.000000                       1050.0
...                                                  ...
smart            246.000000                       1100.0
                 246.861111                       1100.0
                 251.000000                       1150.0
                 255.000000                       1150.0
                 258.000000                       1200.0

                                          CO2 Emission Grams/Km
Make             CO2 Emission Grams/Mile
AM General       522.764706                          841.306152
                 555.437500                          893.887786
                 683.615385                         1100.169583
ASC Incorporated 555.437500                          893.887786
Acura            228.000000                          366.929520
...                                                         ...
smart            246.000000                          395.897640
                 246.861111                          397.283461
                 251.000000                          403.944340
                 255.000000                          410.381700
                 258.000000                          415.209720

[3582 rows x 9 columns]

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [37]:
cars.groupby(['Make','CO2 Emission Grams/Km']).mean().sort_values('CO2 Emission Grams/Km')

                                      Year  Engine Displacement  Cylinders  \
Make        CO2 Emission Grams/Km
BMW         59.545580              2016.00                 0.60        2.0
            64.373600              2014.50                 0.60        2.0
Chevrolet   82.076340              2016.50                 1.50        4.0
            130.356540             2014.00                 1.40        4.0
            135.184560             2011.00                 1.40        4.0
...                                    ...                  ...        ...
Rolls-Royce 1787.775572            1986.25                 6.80        8.0
Vector      1787.775572            1992.50                 6.00        8.0
Ferrari     1787.775572            1999.00                 5.35       12.0
Maserati    1787.775572            1985.50                 4.90        8.0
Lamborghini 2043.172083            1988.00                 5.20       12.0

                                   Fuel Barrels/Year   City MPG  Highway MPG  \
Make        CO2 Emission Grams/Km
BMW         59.545580                       1.563190  41.000000    37.000000
            64.373600                       1.563190  41.000000    37.000000
Chevrolet   82.076340                       2.006844  43.000000    42.000000
            130.356540                      3.092539  35.000000    40.000000
            135.184560                      3.375621  35.000000    40.000000
...                                              ...        ...          ...
Rolls-Royce 1787.775572                    41.201250   7.166667     9.333333
Vector      1787.775572                    41.201250   7.000000    10.000000
Ferrari     1787.775572                    41.201250   7.000000    11.000000
Maserati    1787.775572                    41.201250   7.000000    10.000000
Lamborghini 2043.172083                    47.087143   6.000000    10.000000

                                   Combined MPG  CO2 Emission Grams/Mile  \
Make        CO2 Emission Grams/Km
BMW         59.545580                      39.0                37.000000
            64.373600                      39.0                40.000000
Chevrolet   82.076340                      42.0                51.000000
            130.356540                     37.0                81.000000
            135.184560                     37.0                84.000000
...                                         ...                      ...
Rolls-Royce 1787.775572                     8.0              1110.875000
Vector      1787.775572                     8.0              1110.875000
Ferrari     1787.775572                     8.0              1110.875000
Maserati    1787.775572                     8.0              1110.875000
Lamborghini 2043.172083                     7.0              1269.571429

                                   Fuel Cost/Year
Make        CO2 Emission Grams/Km
BMW         59.545580                      1050.0
            64.373600                      1050.0
Chevrolet   82.076340                       800.0
            130.356540                     1100.0
            135.184560                     1100.0
...                                           ...
Rolls-Royce 1787.775572                    4150.0
Vector      1787.775572                    5050.0
Ferrari     1787.775572                    5050.0
Maserati    1787.775572                    4150.0
Lamborghini 2043.172083                    5800.0

[3582 rows x 9 columns]

# (Optional)

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [5]:
cars['Year'].describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: Year, dtype: float64

In [134]:
## your code here

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [ ]:
### your code is here

Which brands are more environment friendly?

In [77]:
### your code is here

                                    CO2_Emission_Grams/Km
Decade Brand
80s    AMG                                     379.881345
       ASC                                     345.133719
       Acura                                   268.497682
       Alfa Romeo                              286.715163
       American Motors Corporation             314.264744
...                                                   ...
10s    Volkswagen                              219.440984
       Volvo                                   250.429309
       Wallace Environmental                          NaN
       Yugo                                           NaN
       smart                                   153.509751

[488 rows x 1 columns]

Does the drivetrain affect fuel consumption?

In [139]:
## Your Code here

                            Highway_Km/Liter  City_Km/Liter
Drivetrain
2-Wheel Drive, Front               14.029714      10.628571
Front-Wheel Drive                  12.166210       9.002214
All-Wheel Drive                    10.882531       7.785598
4-Wheel Drive                       9.668584       7.190861
2-Wheel Drive                       8.222444       6.642480
Rear-Wheel Drive                    9.023946       6.556574
4-Wheel or All-Wheel Drive          8.347130       6.392049
Part-time 4-Wheel Drive             8.115385       6.215696

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [80]:
## Your Code here

           City_Km/Liter
Trans
Manual          7.968348
Automatic       7.278292

Use `groupby` and `agg` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [143]:
## your code is here

           City_Km/Liter  Trans
Trans
Automatic       7.278292  24290
Manual          7.968348  11662

aggregate with average City_Km/Liter and the minimum of the Trans

In [144]:
### your code is here

           City_Km/Liter
Trans
Automatic       2.976000
Manual          2.550857